header {
  text-align: center;

  > :nth-child(1) {
    padding-top: 75px;
    margin-bottom: 8px;

    color: var(--red);
  }

  > :nth-child(2) {
    margin-bottom: 8px;
  }

  > :last-child {
    margin-bottom: 55px;
  }
}

.header-contact {
  padding-top: 128px;

  > :first-child {
    color: var(--purple);
  }
}
